ExportDrawbackManagementPortal/App_WebReferences/AuthenticationReaderService/AuthenticationReaderService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://h2010.customs.gov.cn/Cupaa/Contracts" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://h2010.customs.gov.cn/Cupaa/Contracts" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://h2010.customs.gov.cn/Cupaa/Contracts/Imports">
      <xsd:import schemaLocation="http://10.62.1.72/CupaaCenterService/AuthenticationReaderService.svc?xsd=xsd0" namespace="http://h2010.customs.gov.cn/Cupaa/Contracts" />
      <xsd:import schemaLocation="http://10.62.1.72/CupaaCenterService/AuthenticationReaderService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ChinaCustoms.Frameworks.Cupaa.Libraries.Core.Common.Log" />
      <xsd:import schemaLocation="http://10.62.1.72/CupaaCenterService/AuthenticationReaderService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://10.62.1.72/CupaaCenterService/AuthenticationReaderService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ChinaCustoms.Frameworks.Cupaa.Libraries.Core.EnumsDefines" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAuthenticationReader_GetAuthenticationBaseMode_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAuthenticationBaseMode" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationReader_GetAuthenticationBaseMode_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAuthenticationBaseModeResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationReader_GetAuthenticationBaseMode_CupaaFaultArgsFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/ChinaCustoms.Frameworks.Cupaa.Libraries.Core.Common.Log" name="detail" element="q1:CupaaFaultArgs" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationReader_GetAuthenticationMode_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAuthenticationMode" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationReader_GetAuthenticationMode_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAuthenticationModeResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationReader_GetAuthenticationMode_CupaaFaultArgsFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/ChinaCustoms.Frameworks.Cupaa.Libraries.Core.Common.Log" name="detail" element="q2:CupaaFaultArgs" />
  </wsdl:message>
  <wsdl:portType name="IAuthenticationReader">
    <wsdl:operation name="GetAuthenticationBaseMode">
      <wsdl:input wsaw:Action="http://h2010.customs.gov.cn/Cupaa/Contracts/IAuthenticationReader/GetAuthenticationBaseMode" message="tns:IAuthenticationReader_GetAuthenticationBaseMode_InputMessage" />
      <wsdl:output wsaw:Action="http://h2010.customs.gov.cn/Cupaa/Contracts/IAuthenticationReader/GetAuthenticationBaseModeResponse" message="tns:IAuthenticationReader_GetAuthenticationBaseMode_OutputMessage" />
      <wsdl:fault wsaw:Action="http://h2010.customs.gov.cn/Cupaa/Contracts/IAuthenticationReader/GetAuthenticationBaseModeCupaaFaultArgsFault" name="CupaaFaultArgsFault" message="tns:IAuthenticationReader_GetAuthenticationBaseMode_CupaaFaultArgsFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAuthenticationMode">
      <wsdl:input wsaw:Action="http://h2010.customs.gov.cn/Cupaa/Contracts/IAuthenticationReader/GetAuthenticationMode" message="tns:IAuthenticationReader_GetAuthenticationMode_InputMessage" />
      <wsdl:output wsaw:Action="http://h2010.customs.gov.cn/Cupaa/Contracts/IAuthenticationReader/GetAuthenticationModeResponse" message="tns:IAuthenticationReader_GetAuthenticationMode_OutputMessage" />
      <wsdl:fault wsaw:Action="http://h2010.customs.gov.cn/Cupaa/Contracts/IAuthenticationReader/GetAuthenticationModeCupaaFaultArgsFault" name="CupaaFaultArgsFault" message="tns:IAuthenticationReader_GetAuthenticationMode_CupaaFaultArgsFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>