ExportDrawbackManagementPortal/App_WebReferences/AccreditReaderService/AccreditReaderService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:i0="http://h2010.customs.gov.cn/Cupaa/Contracts" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AccreditReaderService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IAccreditReader_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="http://h2010.customs.gov.cn/Cupaa/Contracts" location="http://10.62.1.72/CupaaCenterService/AccreditReaderService.svc?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="WSHttpBinding_IAccreditReader" type="i0:IAccreditReader">
    <wsp:PolicyReference URI="#WSHttpBinding_IAccreditReader_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetApplications">
      <soap12:operation soapAction="http://h2010.customs.gov.cn/Cupaa/Contracts/IAccreditReader/GetApplications" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CupaaFaultArgsFault">
        <soap12:fault use="literal" name="CupaaFaultArgsFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetApplicationsByUser">
      <soap12:operation soapAction="http://h2010.customs.gov.cn/Cupaa/Contracts/IAccreditReader/GetApplicationsByUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CupaaFaultArgsFault">
        <soap12:fault use="literal" name="CupaaFaultArgsFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="IsAdminUser">
      <soap12:operation soapAction="http://h2010.customs.gov.cn/Cupaa/Contracts/IAccreditReader/IsAdminUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CupaaFaultArgsFault">
        <soap12:fault use="literal" name="CupaaFaultArgsFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DoesUserHasPermissions">
      <soap12:operation soapAction="http://h2010.customs.gov.cn/Cupaa/Contracts/IAccreditReader/DoesUserHasPermissions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CupaaFaultArgsFault">
        <soap12:fault use="literal" name="CupaaFaultArgsFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DoesUserHasAllPermissions">
      <soap12:operation soapAction="http://h2010.customs.gov.cn/Cupaa/Contracts/IAccreditReader/DoesUserHasAllPermissions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CupaaFaultArgsFault">
        <soap12:fault use="literal" name="CupaaFaultArgsFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="IsUserInRoles">
      <soap12:operation soapAction="http://h2010.customs.gov.cn/Cupaa/Contracts/IAccreditReader/IsUserInRoles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CupaaFaultArgsFault">
        <soap12:fault use="literal" name="CupaaFaultArgsFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="IsUserInAllRoles">
      <soap12:operation soapAction="http://h2010.customs.gov.cn/Cupaa/Contracts/IAccreditReader/IsUserInAllRoles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CupaaFaultArgsFault">
        <soap12:fault use="literal" name="CupaaFaultArgsFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetOuScopesByUserFunctions">
      <soap12:operation soapAction="http://h2010.customs.gov.cn/Cupaa/Contracts/IAccreditReader/GetOuScopesByUserFunctions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CupaaFaultArgsFault">
        <soap12:fault use="literal" name="CupaaFaultArgsFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetBusinessScopesByUserFunctions">
      <soap12:operation soapAction="http://h2010.customs.gov.cn/Cupaa/Contracts/IAccreditReader/GetBusinessScopesByUserFunctions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CupaaFaultArgsFault">
        <soap12:fault use="literal" name="CupaaFaultArgsFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetOuScopesOfUserRoles">
      <soap12:operation soapAction="http://h2010.customs.gov.cn/Cupaa/Contracts/IAccreditReader/GetOuScopesOfUserRoles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CupaaFaultArgsFault">
        <soap12:fault use="literal" name="CupaaFaultArgsFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetBusinessScopesOfUserRoles">
      <soap12:operation soapAction="http://h2010.customs.gov.cn/Cupaa/Contracts/IAccreditReader/GetBusinessScopesOfUserRoles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CupaaFaultArgsFault">
        <soap12:fault use="literal" name="CupaaFaultArgsFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetRolesOfUser">
      <soap12:operation soapAction="http://h2010.customs.gov.cn/Cupaa/Contracts/IAccreditReader/GetRolesOfUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CupaaFaultArgsFault">
        <soap12:fault use="literal" name="CupaaFaultArgsFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetFunctionsOfUser">
      <soap12:operation soapAction="http://h2010.customs.gov.cn/Cupaa/Contracts/IAccreditReader/GetFunctionsOfUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CupaaFaultArgsFault">
        <soap12:fault use="literal" name="CupaaFaultArgsFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetTimeScopesByUserFunctions">
      <soap12:operation soapAction="http://h2010.customs.gov.cn/Cupaa/Contracts/IAccreditReader/GetTimeScopesByUserFunctions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CupaaFaultArgsFault">
        <soap12:fault use="literal" name="CupaaFaultArgsFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetTimeScopesOfUserRoles">
      <soap12:operation soapAction="http://h2010.customs.gov.cn/Cupaa/Contracts/IAccreditReader/GetTimeScopesOfUserRoles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CupaaFaultArgsFault">
        <soap12:fault use="literal" name="CupaaFaultArgsFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetRoles">
      <soap12:operation soapAction="http://h2010.customs.gov.cn/Cupaa/Contracts/IAccreditReader/GetRoles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CupaaFaultArgsFault">
        <soap12:fault use="literal" name="CupaaFaultArgsFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetFunctionsInRoles">
      <soap12:operation soapAction="http://h2010.customs.gov.cn/Cupaa/Contracts/IAccreditReader/GetFunctionsInRoles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CupaaFaultArgsFault">
        <soap12:fault use="literal" name="CupaaFaultArgsFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetUsersInRoles">
      <soap12:operation soapAction="http://h2010.customs.gov.cn/Cupaa/Contracts/IAccreditReader/GetUsersInRoles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CupaaFaultArgsFault">
        <soap12:fault use="literal" name="CupaaFaultArgsFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetChildrenInRoles">
      <soap12:operation soapAction="http://h2010.customs.gov.cn/Cupaa/Contracts/IAccreditReader/GetChildrenInRoles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CupaaFaultArgsFault">
        <soap12:fault use="literal" name="CupaaFaultArgsFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetFunctionsInApplication">
      <soap12:operation soapAction="http://h2010.customs.gov.cn/Cupaa/Contracts/IAccreditReader/GetFunctionsInApplication" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CupaaFaultArgsFault">
        <soap12:fault use="literal" name="CupaaFaultArgsFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetRolesByFunctions">
      <soap12:operation soapAction="http://h2010.customs.gov.cn/Cupaa/Contracts/IAccreditReader/GetRolesByFunctions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CupaaFaultArgsFault">
        <soap12:fault use="literal" name="CupaaFaultArgsFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetUsersByFunctions">
      <soap12:operation soapAction="http://h2010.customs.gov.cn/Cupaa/Contracts/IAccreditReader/GetUsersByFunctions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CupaaFaultArgsFault">
        <soap12:fault use="literal" name="CupaaFaultArgsFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetTimeScopes">
      <soap12:operation soapAction="http://h2010.customs.gov.cn/Cupaa/Contracts/IAccreditReader/GetTimeScopes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CupaaFaultArgsFault">
        <soap12:fault use="literal" name="CupaaFaultArgsFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetBusinessScopes">
      <soap12:operation soapAction="http://h2010.customs.gov.cn/Cupaa/Contracts/IAccreditReader/GetBusinessScopes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CupaaFaultArgsFault">
        <soap12:fault use="literal" name="CupaaFaultArgsFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AccreditReaderService">
    <wsdl:port name="WSHttpBinding_IAccreditReader" binding="tns:WSHttpBinding_IAccreditReader">
      <soap12:address location="http://10.62.1.72/CupaaCenterService/AccreditReaderService.svc/ws" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://10.62.1.72/CupaaCenterService/AccreditReaderService.svc/ws</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>