ExportDrawbackManagementPortal/App_WebReferences/OguReaderService/OguReaderService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://h2010.customs.gov.cn/Cupaa/Contracts" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://h2010.customs.gov.cn/Cupaa/Contracts" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://h2010.customs.gov.cn/Cupaa/Contracts/Imports">
      <xsd:import schemaLocation="http://10.62.1.72/CupaaCenterService/OguReaderService.svc?xsd=xsd0" namespace="http://h2010.customs.gov.cn/Cupaa/Contracts" />
      <xsd:import schemaLocation="http://10.62.1.72/CupaaCenterService/OguReaderService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ChinaCustoms.Frameworks.Cupaa.Libraries.Core.Common.Log" />
      <xsd:import schemaLocation="http://10.62.1.72/CupaaCenterService/OguReaderService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://10.62.1.72/CupaaCenterService/OguReaderService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ChinaCustoms.Frameworks.Cupaa.Libraries.Core.EnumsDefines" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IOguReader_GetOuView_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOuView" />
  </wsdl:message>
  <wsdl:message name="IOguReader_GetOuView_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOuViewResponse" />
  </wsdl:message>
  <wsdl:message name="IOguReader_GetOuView_CupaaFaultArgsFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/ChinaCustoms.Frameworks.Cupaa.Libraries.Core.Common.Log" name="detail" element="q1:CupaaFaultArgs" />
  </wsdl:message>
  <wsdl:message name="IOguReader_GetRootDepartment_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRootDepartment" />
  </wsdl:message>
  <wsdl:message name="IOguReader_GetRootDepartment_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRootDepartmentResponse" />
  </wsdl:message>
  <wsdl:message name="IOguReader_GetRootDepartment_CupaaFaultArgsFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/ChinaCustoms.Frameworks.Cupaa.Libraries.Core.Common.Log" name="detail" element="q2:CupaaFaultArgs" />
  </wsdl:message>
  <wsdl:message name="IOguReader_GetOrganizationChildren_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrganizationChildren" />
  </wsdl:message>
  <wsdl:message name="IOguReader_GetOrganizationChildren_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrganizationChildrenResponse" />
  </wsdl:message>
  <wsdl:message name="IOguReader_GetOrganizationChildren_CupaaFaultArgsFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/ChinaCustoms.Frameworks.Cupaa.Libraries.Core.Common.Log" name="detail" element="q3:CupaaFaultArgs" />
  </wsdl:message>
  <wsdl:message name="IOguReader_GetObjectsDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetObjectsDetail" />
  </wsdl:message>
  <wsdl:message name="IOguReader_GetObjectsDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetObjectsDetailResponse" />
  </wsdl:message>
  <wsdl:message name="IOguReader_GetObjectsDetail_CupaaFaultArgsFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/ChinaCustoms.Frameworks.Cupaa.Libraries.Core.Common.Log" name="detail" element="q4:CupaaFaultArgs" />
  </wsdl:message>
  <wsdl:message name="IOguReader_GetObjectParentOrganizations_InputMessage">
    <wsdl:part name="parameters" element="tns:GetObjectParentOrganizations" />
  </wsdl:message>
  <wsdl:message name="IOguReader_GetObjectParentOrganizations_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetObjectParentOrganizationsResponse" />
  </wsdl:message>
  <wsdl:message name="IOguReader_GetObjectParentOrganizations_CupaaFaultArgsFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/ChinaCustoms.Frameworks.Cupaa.Libraries.Core.Common.Log" name="detail" element="q5:CupaaFaultArgs" />
  </wsdl:message>
  <wsdl:message name="IOguReader_GetUserIdentityInfos_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserIdentityInfos" />
  </wsdl:message>
  <wsdl:message name="IOguReader_GetUserIdentityInfos_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserIdentityInfosResponse" />
  </wsdl:message>
  <wsdl:message name="IOguReader_GetUserIdentityInfos_CupaaFaultArgsFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.datacontract.org/2004/07/ChinaCustoms.Frameworks.Cupaa.Libraries.Core.Common.Log" name="detail" element="q6:CupaaFaultArgs" />
  </wsdl:message>
  <wsdl:message name="IOguReader_CheckPwd_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckPwd" />
  </wsdl:message>
  <wsdl:message name="IOguReader_CheckPwd_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckPwdResponse" />
  </wsdl:message>
  <wsdl:message name="IOguReader_CheckPwd_CupaaFaultArgsFault_FaultMessage">
    <wsdl:part xmlns:q7="http://schemas.datacontract.org/2004/07/ChinaCustoms.Frameworks.Cupaa.Libraries.Core.Common.Log" name="detail" element="q7:CupaaFaultArgs" />
  </wsdl:message>
  <wsdl:message name="IOguReader_GetViewInfosByUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetViewInfosByUser" />
  </wsdl:message>
  <wsdl:message name="IOguReader_GetViewInfosByUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetViewInfosByUserResponse" />
  </wsdl:message>
  <wsdl:message name="IOguReader_GetViewInfosByUser_CupaaFaultArgsFault_FaultMessage">
    <wsdl:part xmlns:q8="http://schemas.datacontract.org/2004/07/ChinaCustoms.Frameworks.Cupaa.Libraries.Core.Common.Log" name="detail" element="q8:CupaaFaultArgs" />
  </wsdl:message>
  <wsdl:message name="IOguReader_GetGroupsOfUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGroupsOfUsers" />
  </wsdl:message>
  <wsdl:message name="IOguReader_GetGroupsOfUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGroupsOfUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IOguReader_GetGroupsOfUsers_CupaaFaultArgsFault_FaultMessage">
    <wsdl:part xmlns:q9="http://schemas.datacontract.org/2004/07/ChinaCustoms.Frameworks.Cupaa.Libraries.Core.Common.Log" name="detail" element="q9:CupaaFaultArgs" />
  </wsdl:message>
  <wsdl:message name="IOguReader_GetUsersInGroups_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersInGroups" />
  </wsdl:message>
  <wsdl:message name="IOguReader_GetUsersInGroups_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersInGroupsResponse" />
  </wsdl:message>
  <wsdl:message name="IOguReader_GetUsersInGroups_CupaaFaultArgsFault_FaultMessage">
    <wsdl:part xmlns:q10="http://schemas.datacontract.org/2004/07/ChinaCustoms.Frameworks.Cupaa.Libraries.Core.Common.Log" name="detail" element="q10:CupaaFaultArgs" />
  </wsdl:message>
  <wsdl:message name="IOguReader_QueryOguByCondition_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryOguByCondition" />
  </wsdl:message>
  <wsdl:message name="IOguReader_QueryOguByCondition_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryOguByConditionResponse" />
  </wsdl:message>
  <wsdl:message name="IOguReader_QueryOguByCondition_CupaaFaultArgsFault_FaultMessage">
    <wsdl:part xmlns:q11="http://schemas.datacontract.org/2004/07/ChinaCustoms.Frameworks.Cupaa.Libraries.Core.Common.Log" name="detail" element="q11:CupaaFaultArgs" />
  </wsdl:message>
  <wsdl:message name="IOguReader_GetDirectCustoms_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDirectCustoms" />
  </wsdl:message>
  <wsdl:message name="IOguReader_GetDirectCustoms_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDirectCustomsResponse" />
  </wsdl:message>
  <wsdl:message name="IOguReader_GetDirectCustoms_CupaaFaultArgsFault_FaultMessage">
    <wsdl:part xmlns:q12="http://schemas.datacontract.org/2004/07/ChinaCustoms.Frameworks.Cupaa.Libraries.Core.Common.Log" name="detail" element="q12:CupaaFaultArgs" />
  </wsdl:message>
  <wsdl:message name="IOguReader_GetSubjectCustoms_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSubjectCustoms" />
  </wsdl:message>
  <wsdl:message name="IOguReader_GetSubjectCustoms_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSubjectCustomsResponse" />
  </wsdl:message>
  <wsdl:message name="IOguReader_GetSubjectCustoms_CupaaFaultArgsFault_FaultMessage">
    <wsdl:part xmlns:q13="http://schemas.datacontract.org/2004/07/ChinaCustoms.Frameworks.Cupaa.Libraries.Core.Common.Log" name="detail" element="q13:CupaaFaultArgs" />
  </wsdl:message>
  <wsdl:portType name="IOguReader">
    <wsdl:operation name="GetOuView">
      <wsdl:input wsaw:Action="http://h2010.customs.gov.cn/Cupaa/Contracts/IOguReader/GetOuView" message="tns:IOguReader_GetOuView_InputMessage" />
      <wsdl:output wsaw:Action="http://h2010.customs.gov.cn/Cupaa/Contracts/IOguReader/GetOuViewResponse" message="tns:IOguReader_GetOuView_OutputMessage" />
      <wsdl:fault wsaw:Action="http://h2010.customs.gov.cn/Cupaa/Contracts/IOguReader/GetOuViewCupaaFaultArgsFault" name="CupaaFaultArgsFault" message="tns:IOguReader_GetOuView_CupaaFaultArgsFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRootDepartment">
      <wsdl:input wsaw:Action="http://h2010.customs.gov.cn/Cupaa/Contracts/IOguReader/GetRootDepartment" message="tns:IOguReader_GetRootDepartment_InputMessage" />
      <wsdl:output wsaw:Action="http://h2010.customs.gov.cn/Cupaa/Contracts/IOguReader/GetRootDepartmentResponse" message="tns:IOguReader_GetRootDepartment_OutputMessage" />
      <wsdl:fault wsaw:Action="http://h2010.customs.gov.cn/Cupaa/Contracts/IOguReader/GetRootDepartmentCupaaFaultArgsFault" name="CupaaFaultArgsFault" message="tns:IOguReader_GetRootDepartment_CupaaFaultArgsFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOrganizationChildren">
      <wsdl:input wsaw:Action="http://h2010.customs.gov.cn/Cupaa/Contracts/IOguReader/GetOrganizationChildren" message="tns:IOguReader_GetOrganizationChildren_InputMessage" />
      <wsdl:output wsaw:Action="http://h2010.customs.gov.cn/Cupaa/Contracts/IOguReader/GetOrganizationChildrenResponse" message="tns:IOguReader_GetOrganizationChildren_OutputMessage" />
      <wsdl:fault wsaw:Action="http://h2010.customs.gov.cn/Cupaa/Contracts/IOguReader/GetOrganizationChildrenCupaaFaultArgsFault" name="CupaaFaultArgsFault" message="tns:IOguReader_GetOrganizationChildren_CupaaFaultArgsFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetObjectsDetail">
      <wsdl:input wsaw:Action="http://h2010.customs.gov.cn/Cupaa/Contracts/IOguReader/GetObjectsDetail" message="tns:IOguReader_GetObjectsDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://h2010.customs.gov.cn/Cupaa/Contracts/IOguReader/GetObjectsDetailResponse" message="tns:IOguReader_GetObjectsDetail_OutputMessage" />
      <wsdl:fault wsaw:Action="http://h2010.customs.gov.cn/Cupaa/Contracts/IOguReader/GetObjectsDetailCupaaFaultArgsFault" name="CupaaFaultArgsFault" message="tns:IOguReader_GetObjectsDetail_CupaaFaultArgsFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetObjectParentOrganizations">
      <wsdl:input wsaw:Action="http://h2010.customs.gov.cn/Cupaa/Contracts/IOguReader/GetObjectParentOrganizations" message="tns:IOguReader_GetObjectParentOrganizations_InputMessage" />
      <wsdl:output wsaw:Action="http://h2010.customs.gov.cn/Cupaa/Contracts/IOguReader/GetObjectParentOrganizationsResponse" message="tns:IOguReader_GetObjectParentOrganizations_OutputMessage" />
      <wsdl:fault wsaw:Action="http://h2010.customs.gov.cn/Cupaa/Contracts/IOguReader/GetObjectParentOrganizationsCupaaFaultArgsFault" name="CupaaFaultArgsFault" message="tns:IOguReader_GetObjectParentOrganizations_CupaaFaultArgsFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserIdentityInfos">
      <wsdl:input wsaw:Action="http://h2010.customs.gov.cn/Cupaa/Contracts/IOguReader/GetUserIdentityInfos" message="tns:IOguReader_GetUserIdentityInfos_InputMessage" />
      <wsdl:output wsaw:Action="http://h2010.customs.gov.cn/Cupaa/Contracts/IOguReader/GetUserIdentityInfosResponse" message="tns:IOguReader_GetUserIdentityInfos_OutputMessage" />
      <wsdl:fault wsaw:Action="http://h2010.customs.gov.cn/Cupaa/Contracts/IOguReader/GetUserIdentityInfosCupaaFaultArgsFault" name="CupaaFaultArgsFault" message="tns:IOguReader_GetUserIdentityInfos_CupaaFaultArgsFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckPwd">
      <wsdl:input wsaw:Action="http://h2010.customs.gov.cn/Cupaa/Contracts/IOguReader/CheckPwd" message="tns:IOguReader_CheckPwd_InputMessage" />
      <wsdl:output wsaw:Action="http://h2010.customs.gov.cn/Cupaa/Contracts/IOguReader/CheckPwdResponse" message="tns:IOguReader_CheckPwd_OutputMessage" />
      <wsdl:fault wsaw:Action="http://h2010.customs.gov.cn/Cupaa/Contracts/IOguReader/CheckPwdCupaaFaultArgsFault" name="CupaaFaultArgsFault" message="tns:IOguReader_CheckPwd_CupaaFaultArgsFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetViewInfosByUser">
      <wsdl:input wsaw:Action="http://h2010.customs.gov.cn/Cupaa/Contracts/IOguReader/GetViewInfosByUser" message="tns:IOguReader_GetViewInfosByUser_InputMessage" />
      <wsdl:output wsaw:Action="http://h2010.customs.gov.cn/Cupaa/Contracts/IOguReader/GetViewInfosByUserResponse" message="tns:IOguReader_GetViewInfosByUser_OutputMessage" />
      <wsdl:fault wsaw:Action="http://h2010.customs.gov.cn/Cupaa/Contracts/IOguReader/GetViewInfosByUserCupaaFaultArgsFault" name="CupaaFaultArgsFault" message="tns:IOguReader_GetViewInfosByUser_CupaaFaultArgsFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGroupsOfUsers">
      <wsdl:input wsaw:Action="http://h2010.customs.gov.cn/Cupaa/Contracts/IOguReader/GetGroupsOfUsers" message="tns:IOguReader_GetGroupsOfUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://h2010.customs.gov.cn/Cupaa/Contracts/IOguReader/GetGroupsOfUsersResponse" message="tns:IOguReader_GetGroupsOfUsers_OutputMessage" />
      <wsdl:fault wsaw:Action="http://h2010.customs.gov.cn/Cupaa/Contracts/IOguReader/GetGroupsOfUsersCupaaFaultArgsFault" name="CupaaFaultArgsFault" message="tns:IOguReader_GetGroupsOfUsers_CupaaFaultArgsFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUsersInGroups">
      <wsdl:input wsaw:Action="http://h2010.customs.gov.cn/Cupaa/Contracts/IOguReader/GetUsersInGroups" message="tns:IOguReader_GetUsersInGroups_InputMessage" />
      <wsdl:output wsaw:Action="http://h2010.customs.gov.cn/Cupaa/Contracts/IOguReader/GetUsersInGroupsResponse" message="tns:IOguReader_GetUsersInGroups_OutputMessage" />
      <wsdl:fault wsaw:Action="http://h2010.customs.gov.cn/Cupaa/Contracts/IOguReader/GetUsersInGroupsCupaaFaultArgsFault" name="CupaaFaultArgsFault" message="tns:IOguReader_GetUsersInGroups_CupaaFaultArgsFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="QueryOguByCondition">
      <wsdl:input wsaw:Action="http://h2010.customs.gov.cn/Cupaa/Contracts/IOguReader/QueryOguByCondition" message="tns:IOguReader_QueryOguByCondition_InputMessage" />
      <wsdl:output wsaw:Action="http://h2010.customs.gov.cn/Cupaa/Contracts/IOguReader/QueryOguByConditionResponse" message="tns:IOguReader_QueryOguByCondition_OutputMessage" />
      <wsdl:fault wsaw:Action="http://h2010.customs.gov.cn/Cupaa/Contracts/IOguReader/QueryOguByConditionCupaaFaultArgsFault" name="CupaaFaultArgsFault" message="tns:IOguReader_QueryOguByCondition_CupaaFaultArgsFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDirectCustoms">
      <wsdl:input wsaw:Action="http://h2010.customs.gov.cn/Cupaa/Contracts/IOguReader/GetDirectCustoms" message="tns:IOguReader_GetDirectCustoms_InputMessage" />
      <wsdl:output wsaw:Action="http://h2010.customs.gov.cn/Cupaa/Contracts/IOguReader/GetDirectCustomsResponse" message="tns:IOguReader_GetDirectCustoms_OutputMessage" />
      <wsdl:fault wsaw:Action="http://h2010.customs.gov.cn/Cupaa/Contracts/IOguReader/GetDirectCustomsCupaaFaultArgsFault" name="CupaaFaultArgsFault" message="tns:IOguReader_GetDirectCustoms_CupaaFaultArgsFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSubjectCustoms">
      <wsdl:input wsaw:Action="http://h2010.customs.gov.cn/Cupaa/Contracts/IOguReader/GetSubjectCustoms" message="tns:IOguReader_GetSubjectCustoms_InputMessage" />
      <wsdl:output wsaw:Action="http://h2010.customs.gov.cn/Cupaa/Contracts/IOguReader/GetSubjectCustomsResponse" message="tns:IOguReader_GetSubjectCustoms_OutputMessage" />
      <wsdl:fault wsaw:Action="http://h2010.customs.gov.cn/Cupaa/Contracts/IOguReader/GetSubjectCustomsCupaaFaultArgsFault" name="CupaaFaultArgsFault" message="tns:IOguReader_GetSubjectCustoms_CupaaFaultArgsFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>